ul{
    background-color: black;
}
li{
    display: inline-block;
    padding: 20px;
    list-style: none;

}
a{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
}
a:hover{
    color: green;
}
span{
    color: red;
    margin: 0 100px;
}
.p1{
    background-color: #B23148;
    font-size: 30px;
    /*height: 100px;*/
    padding: 20px
}
.p2{
    background-color: #50BD64;
    font-size: 30px;
    /*height: 100px;*/
    padding: 20px;
}
.p3{
    background-color: #B23148;
    font-size: 30px;
    /*height: 100px;*/
    padding: 20px;
}
#ejercicio1{
    display: block;
    margin: 20px;
    border: 1px solid purple;
}
#ejercicio2{
    display: inline-block;
    margin: 10px;
    border: 1px solid purple;
}
#ejercicio3{
    display: inline;
    margin:20px;
    border: 1px solid purple;

}
#ejercicio4{
    border: 1px solid purple;
    padding: none;
    display: inline-block;
    /*margin: 40px;*/
    height: 60px;

}

